/* Using this file we will make responsive website. */

@media only screen and (max-width:768px){
    .sticky{
        padding: 0% 5%;
        top: 10px;
    }
    .content-1 .curcle{
        margin: 0px auto;
    }
    .content-2 .row .col-1{
        display: none;
    }
    .content-2 .row .col2{
        background-image: url(../Stock/Image_1.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat; 
    }
    .content-2 .row .col2 > div{
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 0px;
    }
}

@media only screen and (max-width:425px){

    .title-text{
        margin-left: 6%;
        width: 80%;
    }
    .sticky{
        padding: 2% 5%;
        top: 20px;
    }

}

@media only screen and (max-width:320px){
    .site-title h2{
        font-size: 1.9em;
    }
    .title-text{
        margin-left: 2%;
        width: 100%;
    }

    .btn-sub2{
        display: none;
    }
}